{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Baixa</title>
    <link href="../../static/css/styles.css" rel="stylesheet">
</head>
<body>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-10">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="mb-4">Excluir Baixa</h3>
                    <p class="lead">Você tem certeza que deseja excluir a baixa?</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-lg">Sim, exclua!</button> &nbsp;
                        <a href="{% url 'baixa_menu_alias' %}" class="btn btn-success btn-lg">Voltar</a> &nbsp;
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>