{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
  <head>
    <title>Menu de Pessoas</title>
  </head>
  <body>
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <center>
          <p>bdpratico\exemplo01\templates\exemplo01\ente_devedor_menu.html</p>
          <img src="{% static 'ente_devedor.jpg' %}" class="img-fluid" alt="Teste" width="15%" />
          <br /><br />
          {% render_table table %}
          <br />
          <a href="{% url 'ente_devedor_create_alias' %}"><input type="button" class="btn btn-primary" value="Incluir novas entes devedors" /></a>
          <a href="{% url 'ente_devedor_em_lote_create_alias' %}"><input type="button" class="btn btn-primary" value="Incluir novas entes devedors em lote" /></a>
          <a href="{% url 'ente_devedor_export_csv' %}"><input type="button" class="btn btn-primary" value="Exportar todos os entes devedores" /></a>
        </center>
      </div>
    </div>
  </body>
</html>
