<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinamento do Modelo de Baixa</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="../../../static/css/styles.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-10">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2>Treinamento do Modelo de Baixa</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'train_validacao_model' %}" method="post">
                        {% csrf_token %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-lg">Treinar Modelo</button>
                            <a href="{% url 'ia_menu_alias' %}" class="btn btn-success btn-lg">Voltar</a>
                            {% if model_path %}
                                <div class="alert alert-success mt-3">
                                    <h2>Modelo treinado com sucesso!</h2>
                                    <a href="{% url 'download_validacao_model' %}">Baixar Modelo</a>
                                </div>
                                <div class="alert alert-info mt-3">
                                    <h1>Desempenho do Modelo</h1>

                                    <h2>Melhores Parâmetros Encontrados</h2>
                                    <ul>
                                        {% for param, value in melhores_parametros.items %}
                                            <li><strong>{{ param }}:</strong> {{ value }}</li>
                                        {% endfor %}
                                    </ul>

                                    <h2>Métricas de Desempenho</h2>
                                    <ul>
                                        <li><strong>MAE (Mean Absolute Error):</strong> {{ mae|floatformat:2 }}</li>
                                        <li><strong>MSE (Mean Squared Error):</strong> {{ mse|floatformat:2 }}</li>
                                        <li><strong>RMSE (Root Mean Squared Error):</strong> {{ rmse|floatformat:2 }}
                                        </li>
                                        <li><strong>R² (Coeficiente de Determinação):</strong> {{ r2|floatformat:2 }}
                                        </li>
                                    </ul>

                                    <h2>Gráfico de Linha (Valores Reais vs. Preditos)</h2>
                                    <div id="line-plot">
                                        {{ line_plot_html|safe }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>